# env
.env
.env.local
.env.*.local
*.env

# python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# node
node_modules/
.next/
out/
dist/

# editors / os
.vscode/
.idea/
.DS_Store
Thumbs.db

# misc
*.log
.pytest_cache/

eyJhbGciOiJFUzI1NiIsImtpZCI6ImFjNDkyZDViLTcwN2QtNGYwYS1iNGJmLTYyYzBmMWQwNTI3OCIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJodHRwczovL3FuYXN1aGNucXV2Y2RxenJ6eWN5LnN1cGFiYXNlLmNvL2F1dGgvdjEiLCJzdWIiOiIxMmQzZTI4Ny1jNmMyLTQ1NzEtOWFhZC01N2Q1ZjJhMzEyYWUiLCJhdWQiOiJhdXRoZW50aWNhdGVkIiwiZXhwIjoxNzg3NTgzNDk0LCJpYXQiOjE3ODc1Nzk4OTQsImVtYWlsIjoidGVzdEBzdHVkeWxvb3AuZGV2IiwicGhvbmUiOiIiLCJhcHBfbWV0YWRhdGEiOnsicHJvdmlkZXIiOiJlbWFpbCIsInByb3ZpZGVycyI6WyJlbWFpbCJdfSwidXNlcl9tZXRhZGF0YSI6eyJlbWFpbF92ZXJpZmllZCI6dHJ1ZX0sInJvbGUiOiJhdXRoZW50aWNhdGVkIiwiYWFsIjoiYWFsMSIsImFtciI6W3sibWV0aG9kIjoicGFzc3dvcmQiLCJ0aW1lc3RhbXAiOjE3ODc1Nzk4OTR9XSwic2Vzc2lvbl9pZCI6IjZiZjQ5OTk2LWZhMDAtNGU5Yi1hYzg2LTMyNmVhMmM2NDY0MSIsImlzX2Fub255bW91cyI6ZmFsc2V9.fVRMJWtE_vICf--gpAVjzMv1aeHZrUMg-LN2SV-d5Wz4KZSoXJwTUiCOzW-gop-bH1B8XYVKMd-3E-dIO9rsRw